#banner {
    width: 100%;
}

.main {
    background: #CCCCCC;
    padding: 30px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#mission {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.profits {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items {
    font-style: italic;
}

.profits-image {
    width: 50%;
}
